*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #191d28;
}
.header-banner{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
}

.logo-img img{
    width:100px;
}

.currency-converter{
    display: flex;
    width: 136px;
    justify-content: space-around;
    align-items: center;
}

.right-sidebar{
    display: flex;
    width: 136px;
    justify-content: space-around;
    align-items: center;
}

.tel-box{
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 5px;
    width: 150px;
    border-radius: 12px;
}

.table {
    padding: 20px;
}